<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" text type="text/css" href="style_tts.css" />
    <title>Teka - Teki Silang</title>
  </head>
  <body>
    <div class="content">
      <div class="content-layout">
        <div class="text">
          <h2>Teka - Teki Silang</h2>
          <p>Mendatar</p>

          <li>2. Shalat Sunat di bulan Ramadhan.</li>
          <li>4. Bulan sebelum Syawal</li>
          <li>5. Tantangan siang hari di bulan Ramadhan.</li>
          <li>6. Makan pagi sebelum terbit fajar.</li>

          <p>Menurun</p>
          <li>1. Hidangan berbuka di bulan puasa.</li>
          <li>2. Ngaji Qur'an.</li>
          <li>3. Hari Kemenangan.</li>
        </div>
      </div>

      <div class="content-layout2">
        <div class="box">
          <!-- baris1 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
              <p class="No">1</p>
              <p id="1.9" class="jawaban" style="display: none">T</p>
            </div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
          </div>
          <!-- baris2 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
              <p class="No">2</p>
              <p id="2.6" class="jawaban" style="display: none">T</p>
            </div>
            <div class="block-white">
              <p id="2.7" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block-white">
              <p id="2.8" class="jawaban" style="display: none">R</p>
            </div>
            <div class="block-white">
              <p id="2.9" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block-white">
              <p id="2.10" class="jawaban" style="display: none">W</p>
            </div>
            <div class="block-white">
              <p class="No">3</p>
              <p id="2.11" class="jawaban" style="display: none">E</p>
            </div>
            <div class="block-white">
              <p id="2.12" class="jawaban" style="display: none">H</p>
            </div>
          </div>
          <!-- baris3 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
              <p id="3.6" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
              <p id="3.9" class="jawaban" style="display: none">K</p>
            </div>
            <div class="block"></div>
            <div class="block-white">
                <p id="3.11" class="jawaban" style="display: none">I</p>
            </div>
            <div class="block"></div>
          </div>
          <!-- baris4 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
                <p id="4.6" class="jawaban" style="display: none;">D</p>
            </div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
              <p id="4.9" class="jawaban" style="display: none">J</p>
            </div>
            <div class="block"></div>
            <div class="block-white">
                <p id="4.11" class="jawaban" style="display: none">D</p>
            </div>
            <div class="block"></div>
          </div>
          <!-- baris5 -->
          <div class="tabel">
            <div class="block-white">
              <p class="No">4</p>
              <p id="5.1" class="jawaban" style="display: none">R</p>
            </div>
            <div class="block-white">
                <p id="5.2" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block-white">
                <p id="5.3" class="jawaban" style="display: none">M</p>
            </div>
            <div class="block-white">
                <p id="5.4" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block-white">
                <p id="5.5" class="jawaban" style="display: none">D</p>
            </div>
            <div class="block-white">
                <p id="5.6" class="jawaban" style="display: none">H</p>
            </div>
            <div class="block-white">
                <p id="5.7" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block"></div>
            <div class="block-white">
              <p id="5.9" class="jawaban" style="display: none">I</p>
            </div>
            <div class="block"></div>
            <div class="block-white">
                <p id="5.11" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block"></div>
          </div>
          <!-- baris6 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
                <p id="6.6" class="jawaban" style="display: none">R</p>
            </div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
              <p id="6.9" class="jawaban" style="display: none">L</p>
            </div>
            <div class="block"></div>
            <div class="block-white">
                <p id="6.11" class="jawaban" style="display: none">L</p>
            </div>
            <div class="block"></div>
          </div>
          <!-- baris7 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
              <p class="No">5</p>
              <p id ="7.4" class="jawaban" style="display: none">H</p>
            </div>
            <div class="block-white">
              <p id="7.5" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block-white">
              <p id="7.6" class="jawaban" style="display: none">U</p>
            </div>
            <div class="block-white">
              <p id="7.7" class="jawaban" style="display: none">S</p>
            </div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
                <p id="7.11" class="jawaban" style="display: none">F</p>
            </div>
            <div class="block"></div>
          </div>
          <!-- baris8 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
                <p id="8.6" class="jawaban" style="display: none">S</p>
            </div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
                <p id="8.11" class="jawaban" style="display: none">I</p>
            </div>
            <div class="block"></div>
          </div>
          <!-- baris9 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
                <p id="9.11" class="jawaban" style="display: none">T</p>
            </div>
            <div class="block"></div>
          </div>
          <!-- baris10 -->
          <div class="tabel">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block-white">
              <p class="No">6</p>
              <p class="jawaban">
                <p id="10.7" class="jawaban" style="display: none">S</p>
              </p>
            </div>
            <div class="block-white">
              <p id="10.8" class="jawaban" style="display: none">A</p>
            </div>
            <div class="block-white">
              <p id="10.9" class="jawaban" style="display: none">H</p>
            </div>
            <div class="block-white">
              <p id="10.10" class="jawaban" style="display: none">U</p>
            </div>
            <div class="block-white"><p id="10.11" class="jawaban" style="display: none">R</p></div>
            <div class="block"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-layout3">
      <div class="boxl3">
        <h2>Silahkan Masukan Jawaban Kamu, Disini!!</h2>

        <select id="selectId">
          <option value="1">1. Menurun</option>
          <option value="2">2. Menurun</option>
          <option value="3">3. Menurun</option>
          <option value="4">2. Mendatar</option>
          <option value="5">4. Mendatar</option>
          <option value="6">5. Mendatar</option>
          <option value="7">6. Mendatar</option>
        </select>

        <input
          id="jawaban"
          type="text"
          style="text-transform: lowercase"
          onkeypress="this.value=this.value + event.key.toLowerCase(); return false;"
          placeholder="Masukan jawaban..."
        />
        <button id="submit-jawaban" onclick="js()">Submit</button>
      </div>
    </div>
    <script src="script_tts.js"></script>
  </body>
</html>

